/* Estilo para el cuerpo de la página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    flex-grow: 1;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    background-color: #334872;
}

.caja {
    padding: 45.4px;
    color: #FFF;
    font-family: 'Titan One', sans-serif;
    font-size: 95px;
    letter-spacing: 2.5px;
}

img {
    max-width: 100%;
    position: absolute;
    top: 10px;
    left: 90%;
    width: 130px;
    height: auto;
}

.titulo {
    position: relative;
    top: 20px;
    padding-left: 45px;
    height: 100px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85px;
    font-style: inherit;
    font-weight: bold;
}

main {
    max-width: 1200px;
    padding-bottom: auto;
}

a {
    text-decoration: none;
}

.botonespaginas {
    padding: 30px;
    position: absolute;
    font-size: 30px;
}

footer {
    background-color: #979494;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: auto;
}

footer i.fa-github {
    font-size: 26px;
    color: #fff;
}
