body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.header {
    top: 0;
    width: 100%;
    height: 150px;
    background-color: #334872;

}
h1{
    padding: 45.4px;
    margin:0 auto;
    color: #FFF;
    font-family: 'Titan One', sans-serif;
    font-size: 105px;
    letter-spacing: 3px;
}

img{
    max-width: 100%;
    position: absolute;
    top: 8px;
    left: 90%;
    width: 135px;
    height: auto;
}

.titulo {
    position: absolute;
    top: 150px;
    left: 50px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    font-weight: bold;
}

main {
    padding-bottom: auto;
    position: relative;
    background-color: white;
    margin-top: 100px;
}

a{
    text-decoration:none;
    color: black;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
a:hover{
    font-weight: bold;
}

.container {
    position: absolute;
    right: 320px;
    font-size: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

.botonesarriba,
.botonesabajo {
        display: flex;
        justify-content: center;
    }
    #boton1:hover,#boton2:hover,#boton3:hover,#boton4:hover{
        background: #2b9fffd3;
    }
    #boton1, #boton2 {
        background-color: rgba(0, 89, 255, 0.288);
        padding: 20px; 
        margin: 35px; 
        border-radius: 10px;
    }
    #boton3{
        position: relative;
        right: 50px;
        background-color: rgba(0, 89, 255, 0.288);
        padding: 20px; 
        margin: 35px; 
        border-radius: 10px;
    }
}
.mainpage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    margin: 20px; 
}

.contenedor-texto, .contenedor-respuesta {
    width: 50%; 
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.contenedor-texto h2, .contenedor-respuesta h2 {
    font-size: 32px;
    color: #333;
}

.contenedor-texto p, .contenedor-respuesta p {
    font-size: 16px;
    color: #3d3d3d;
    font-weight: bold;
}
button {
    position: relative;
    left: 30px;
    border: none; 
    color: black; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 15px;
    font-weight: bold;
}
button {
    background-color: white; 
    border: 1px solid #012347;
} 
button:hover {
    background: #2b9fffd3; 
    color: white;
}
button:active {
    background-color: #279aff;
}